/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #0d0d2b;
    color: #fff;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a3d;
    padding: 20px;
    display: center; 
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 2em;
    color: #ffffff;
}
.voltar{
    background-color: #4B0082;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem; 
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}
.voltar:hover{
    background-color: #1c1851;
}
  .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            padding: 10px;
        }
        .card {
            background-color: #c9c9c9; 
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
            transition: transform 0.3s ease;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .card img {
            width: 100%; 
            height: auto; 
            max-height: 250px;
            object-fit: cover; 
        }
        .info {
            padding: 15px;
            color: #4B0082; 
            text-align: center;
        }
        .info h4 {
            margin: 0 0 10px 0;
            font-size: 1.4em;
        }
        .info p {
            margin: 0;
            font-weight: bold;
            font-size: 1em;
        }

/* Rodapé */
footer {
    background-color: #0d0d17;
    padding: 10px;
    font-size: 1.2em;
    color: #ffffff;
}
