/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #0d0d2b;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px;
}

header {
    background-color: #1a1a3d;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    color: #ffcc00;
}
  .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
            gap: 20px;
        }
        .card {
            background-color: #fff; 
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
            transition: transform 0.3s ease;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .card img {
            width: 100%; 
            height: auto; 
            max-height: 250px;
            object-fit: cover; 
        }
        .info {
            padding: 15px;
            color: #4B0082; 
            text-align: center;
        }
        .info h3 {
            margin: 0 0 10px 0;
            font-size: 1.4em;
        }
        .info p {
            margin: 0;
            font-weight: bold;
            font-size: 1em;
        }

/* Rodapé */
footer {
    background-color: #1a1a3d;
    padding: 10px;
    font-size: 1.2em;
    color: #ffcc00;
}
