body {
    background-color: rgb(41, 41, 41);
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

header {
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 2.5em;
}

.info {
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

h2 {
    font-size: 2em;
    color: black;
}

p {
    font-size: 1.2em;
    color: black;
}

footer {
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
}
