*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #1a1a3d;
    color: white;
}

header{
    background-color: #111125;
    color: aliceblue;
    padding: 20px 10px;
    text-align: center;
}

nav, ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

nav, ul, li {
    margin: 0 15px;
}

nav, ul, li, a {
    color: #ffd034;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.curiosidade {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-left: 5px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(6, 0, 125);
}

.curiosidade, h2 {
    margin-bottom: 10px;
    color: #1c1851;
}

footer{
    background-color: #111125;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/*responsividade*/

@media (max-width: 600px) {
    nav, ul {
        flex-direction: column;
    }

    nav, ul, li {
        margin: 10px 0;
    }

    main{
        padding: 5px;
    }
}